header{
    background-color: rgb(245, 245, 245);
}

main{
    background-color: rgb(245, 245, 245);
}

#main_nav{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    
}

footer{
    background-color: black;
}

.nav_button{
    margin: 0.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 30%;
}

#img_logo{
    width: 9em;
    height: 3em;
}

.card_holder{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: rgb(245, 245, 245);
    box-shadow: inset 0 1px 10px rgba(0,0,0,0.2);
}

.card_green{
    width: 20em;
    height: 30em;
    background-color: rgb(148, 209, 91);
    margin: 1em;
    border-radius: 1em;
}
.copyright{
    color: white;
    text-align: center;
    padding: 1em;
    margin: 0em;
}