header{
    background-color: rgb(245, 245, 245);
}
#body_main{
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    box-shadow: inset 0 1px 10px rgba(0,0,0,0.2);
}
#main_nav{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
}
#buscador{
    width: 40%;;
    padding: 0.5em;
    margin: 3em;
    border-radius: 0.6em;
    background-color: rgba(230, 230, 230, 0.808);
    border: 1px solid rgba(156, 155, 155, 0.637);
}
footer{
    background-color: black;
}
.card_holder{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(245, 245, 245);
}
.nav_button{
    margin: 0.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-left: 3em;
    margin-right: 3em;
    border: 2px solid rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.2);
    border-radius: 30%;
}
.card_green{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 15em;
    height: 20em;
    background-color: rgb(158, 210, 109);
    margin: 1em;
    border-radius: 1em;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}
.card_header{
    display: flex;   
    justify-content: space-between;
    align-content: center;
    background-color: inherit;
    border-radius: inherit;
    width: 100%;
}
.card_main{
    display: flex;
    flex-direction: column; 
    width: 95%;
    height: 60%;
    border-radius: 8%;
    margin-bottom: 2.5%;
    background-color: white;
}
.type_holder{
    display: flex;
    justify-content: center;
    margin-top: -20%;
}
.characteristics_holder{
    display: flex;
}
.type_grass{
    display: flex;
    align-items: center;
    background-color:  rgb(158, 210, 109);
    color: white;
    border-radius: 10em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-right: 0.2em;
}
.type_grass::before { 
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url("/pokedex/img/grass.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.2em;
}
.type_poison{
    background-color:  rgb(161, 109, 210);
    display: flex;
    align-items: center;
    color: white;
    border-radius: 10em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-left: 0.2em;
}
.type_poison::before { 
    content: "";
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    background-image: url("/pokedex/img/poison.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.2em;
}
.card_name{
    color: rgba(255, 255, 255, 0.906);
    padding-top: 0.3em;
    padding-left: 0.6em;
    margin: 0em;
    font-size:110%;
}
.card_number{
    color: rgba(255, 255, 255, 0.525);;
    padding-top: 0.3em;
    padding-right: 0.6em;
    margin: 0em;
}
#img_logo{
    width: 9em;
    height: 3em;
}
#img_pokemon{
    position: relative;
    left: 25%;
    top: -25%;
    width: 50%;
    height: 50%;
}
.copyright{
    color: white;
    text-align: center;
    padding: 1em;
    margin: 0em;
}